<%= erb :header %>
<div id="content">
  <h2 class="profile_info">Потребителско име: <%= SESSION['user_name'] %></h2>
  <h2 class="profile_info">Имейл: <%= SESSION['email'] %></h2>
  <h2 class="profile_info">Точки от тестове: <%= SESSION['current_user'].test_points %></h2>
  <form method="POST" action="logout">
    <input type="hidden" value="<%= SESSION['email'] %>"/>
    <input type="submit" value="Изход"/>
  </form>
</div>
<%= erb :footer %>